<%- include('../../partials/head.ejs', {title:'Log In Page'})%>


<div class="container py-3 my-container">
  <form action="/login" method="POST">
    <div class="mb-3">
      <label for="EmailField" class="form-label">Email address</label>
      <input type="email" class="form-control <%= errors.email? 'is-invalid':''%>" id="EmailField" name="email" value="<%= previousValues.email? previousValues.email : '' %>" />
      <% if(errors.email){%>
      <p class="invalid-feedback">
        <%=errors.email%>
      </p>
      <% }%>
    </div>

    <div class="mb-3">
      <label for="passwordField" class="form-label">Password</label>
      <input type="password" class="form-control <%= errors.password? 'is-invalid':''%>" id="passwordField" name="password" value="<%= previousValues.password? previousValues.password : '' %>" />
      <% if(errors.password){%>
      <div class="invalid-feedback">
        <%=errors.password%>
      </div>
      <% }%>
    </div>

    <button type="submit" class="btn btn-primary">Log In</button>
  </form>
</div>




<%- include('../../partials/footer.ejs')%>
</body>

</html>